.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}
