<div class="list-info">
  <div><span id="nr-of-items">{{ nrOfItems }}</span> items left</div>
  <div class="categories-desktop">
    <div class="show-all-trigger" [ngClass]="{'active': currentFilterAction == FilterType.All}" (click)="onFilter(FilterType.All)">All</div>
    <div class="show-active-trigger" [ngClass]="{'active': currentFilterAction == FilterType.Active}" (click)="onFilter(FilterType.Active)">Active</div>
    <div class="show-completed-trigger" [ngClass]="{'active': currentFilterAction == FilterType.Completed}" (click)="onFilter(FilterType.Completed)">Completed</div>
  </div>
  <div class="clear" (click)="onClearAll()">Clear Completed</div>
</div>
